@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

 body {
    background-image: url(/img/main_bg.jpg);
    background-size:102%;
    background-attachment:fixed;
    background-color: #f5e1b3;
 } 
.footer-bs {
    background-image: url(/img/footer_bg.jpg);   
    padding: 60px 40px;
    color: #000;
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color: #000; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color: #000; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color: #000; text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color: #000; }
.footer-bs .footer-nav ul.list a:hover { color: #000; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color: #000;}
.footer-bs .footer-social a:hover { color: #000; text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color: #000; }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px #000; }
}

#home-slider {
    width: 800px;
    margin: auto;
}

.content {
    padding: 15px 20px;
    background-color: #f0e5ae;
    border: 1px solid #dcce88;
    border-radius: 4px;
}

.bg-success {
    padding: 10px 15px;
    border-radius: 5px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #d89129;
    border-color: #b57a23;
}

.list-group-item {
    background-color: #f0e5ae;
    border: 1px solid #dcce88;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    background-color: #eadd9d;
}

.navbar-default {
    background-color: #f0e5ae;
    border-color: #dcce88;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #eadd9d;
}

.dropdown-menu {
    background-color: #f0e5ae;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #eadd9d;
}

.divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dcce88;
    margin: 25px 0;
}

.file-preview {
    border: 1px solid #dcce88;
}
.krajee-default.file-preview-frame {
    background-color: #fff;
    border: 1px solid #dcce88;
    box-shadow: 1px 1px 5px 0 #dcce88;
}
.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 100%;
}
.krajee-default .file-footer-caption,
.krajee-default .file-upload-indicator,
.file-sortable .file-drag-handle {
    display: none;
}

#category-table .remove-control,
#recipe-table .remove-control,
.recipe-table .remove-control {
    width: 50px;
    text-align: center;
}
#category-table_wrapper .toolbar, #category-accordion .toolbar {
    float: left;
}
#category-accordion .panel-heading {
    cursor: pointer;
}
#create-recipe-modal .error-list {
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.recipe-container {
    display: inline-block;
}

.recipe-container img {
    margin-right: 20px;
}

#create-staff-modal #change-password-checkbox {
    display: none;
}